:root {
    --title-font: 'Bebas Neue';
    --content-font: 'Montserrat';
    --main-text-color: #FFFFFF;
    --second-text-color: #4324FF;
    --index: calc(1vw + 1vh);
}

h1, h2, h3 {
    font-family: var(--title-font);
    font-weight: 700;
    color: var(--main-text-color);
}

h1 *, h2 *, h3 * {
    font-family: var(--title-font)!important;
    font-weight: 700!important;
    color: var(--second-text-color)!important;
}

p, span, button {
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--main-text-color);
}

.subTitle {
    display: inline;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #7C7C7C;
}

body {
    background: #0C0C0C;
    padding: 45px 0;
}

.container {
    max-width: 1285px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .container {
        min-width: 1100px;
    }
}

.mainButton {
    background: linear-gradient(258.35deg, #4324FF 42.6%, #2A179F 101.59%);
    box-shadow: 0px 1px 0px #5D42FF, 0px 4px 0px #351EC6;
    border-radius: 10px;
    padding: 38px 48px 30px 48px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.mainButton:hover {
    background: linear-gradient(258.35deg, #2b11d6 42.6%, #1c08a0 101.59%);
}

/* ==============================HERO============================== */
.hero {
    background-image: url("../images/heroBg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 187px;
    z-index: 1;
    min-width: 1100px;
}

.hero .blueEllipse {
    position: absolute;
    top: 439px;
    left: calc(50% - 200px + 1vw * 12);
    width: 356px;
    background: #4324FF;
    filter: blur(175px);
    z-index: -1;
}

.hero .expert {
    background: linear-gradient(88.93deg, rgba(74, 73, 73, 0.3) 12.64%, rgba(162, 157, 157, 0.3) 100.85%);
    border: 2px solid #363636;
    padding: 45px 32px 35px 32px;
    border-radius: 15px;
    position: absolute;
    top: 326px;
    left: calc(50% + 170px + 1vw * 12);
    backdrop-filter: blur(22.5px);
    min-width: 250px;
    z-index: 1;
}

.hero .starIcon {
    position: absolute;
    top: -20px;
    left: 30px;
}

.hero .expert h3 {
    font-weight: 400;
    font-size: 37px;
    line-height: 24px;
    margin-bottom: 15px;
}

.hero .expert p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.hero .person {
    position: absolute;
    top: -60px;
    left: calc(50% - 550px + 1vw * 12);
    z-index: 1;
}

.hero .cart {
    position: absolute;
    top: 350px;
    left: calc(50% - 900px + 1vw * 12);
    z-index: 1;
}

.hero .logoWrap {
    margin-bottom: 133px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.hero .logoWrap h3 {
    font-size: 40px;
    line-height: 40px;
}

.hero .logoWrap span {
    display: none;
}

.hero .title {
    font-size: 130px;
    line-height: 120px;
    margin-bottom: 23px;
}

.hero .content {
    display: flex;
    align-items: baseline;
    gap: 32px;
    margin-bottom: 77px;
    position: relative;
    z-index: 2;
}

.hero .arrowIcon {
    height: fit-content;
}

.hero .content p {
    font-size: 20px;
    line-height: 30px;
    width: 430px;
}

.hero .content p span {
    font-weight: 600;
}

.hero .signUpWrap {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.hero .scrollIcon {
    margin-right: 66px;
}

.hero .mainButton {
    margin-right: 21px;
}

.hero .forNewbee {
    width: 231px;
    background: linear-gradient(258.48deg, #2C2C2C 42.68%, #272727 101.78%);
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.055em;
    padding: 29px 40px 25px 40px;
}

/* =========================HERO MEDIA========================= */
@media (max-width: 1100px) {
    .hero .person {
        left: calc(50% - 340px);
        width: 85%;
        top: 40px;
    }
    
    .hero .cart {
        left: calc(50% - 800px);
        width: auto;
    }

    .hero .expert {
        left: auto;
        right: 40px; 
    }
}

@media (max-width: 600px) {
    body {
        padding: 25px 0;
    }
    .container {
        max-width: 600px;
        padding: 0 25px;
    }

    .hero {
        min-width: 0;
        overflow: auto;
        background-size: 140%;
        background-position: left top;
        background-repeat: no-repeat;
        padding-bottom: 60px;
    }

    .hero .person {
        display: none;
    }
    
    .hero .mobilePerson {
        background-image: url("../images/person.png");
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: 60% calc(1vw * 2 - 20px);
        position: absolute;
        width: calc(100% - 50px);
        height: 750px;
        top: 0;
        z-index: 1;
    }

    .hero .expert {
        top: 15%;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        width: calc(100% - 50px);
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }

    .hero .expert h3 {
        font-weight: 400;
        width: 70px;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .hero .expert p {
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
    }

    .hero .starIcon {
        width: 21px;
        top: -12px;
        left: 18px;
    }

    .hero .cart {
        display: none;
    }

    .hero .scrollIcon {
        display: none;
    }

    .hero .mainButton {
        margin-right: 0;
        padding: 29px 36px 26px 36px;
        font-size: 12px;
        z-index: 1;
    }

    .hero .forNewbee br {
        display: none;
    }

    .hero .forNewbee {
        transform: translateY(-3px);
        width: 170px;
        font-size: 8px;
        padding: 20px 16px 15px 16px;
        text-align: center;
        line-height: 18px;
    }

    .hero .signUpWrap {
        flex-direction: column;
    }

    .hero .blueEllipse {
        width: 166px;
        background: #4324FF;
        filter: blur(175px);
        top: 20%;
        right: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero .logoWrap {
        gap: 15%;
        margin-bottom: 70%;
    }

    .hero .logoWrap h3 {
        font-size: 20px;
        line-height: inherit;
        white-space: nowrap;
    }

    .hero .logoWrap span {
        font-family: 'Montserrat'!important;
        color: #5B5B5B!important;
        display: block;
        font-weight: 500!important;
        font-size: 8px;
        line-height: 10px;
    }

    .hero .logo {
        width: 99.67px;
        height: 37px;
    }
    .hero .title {
        font-size: calc(1vw * 13);
        line-height: calc(1vw * 13);
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .hero .content {
        margin-bottom: 30px;
    }

    .hero .content p {
        font-weight: 400;
        font-size: calc(1vw * 4);
        line-height: calc(1vw * 6);
        text-align: center;
        width: 100%;
    }

    .hero .arrowIcon {
        display: none;
    }
}

@media (max-width: 365px) {
    .hero .logoWrap {
        gap: 10%;
    }
    .hero .logoWrap h3 {
        font-size: 15px;
    }
    .hero .mobilePerson {
        background-size: 120%;
        background-position: 76% calc(1vw * 2 + 20px);
    }
}

/* ==============================ADVANTAGES============================== */

.advantages .titleWrap {
    margin-bottom: 183px;
}

.advantages {
    overflow: hidden;
    margin-bottom: 55px;
}

.advantages .title {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
}

@media (min-width: 600px) {    
    .advantages .titleWrap {
        display: inline-block;
        position: relative;
        margin-bottom: 70px;
    }
    
    .advantages .title {
        text-align: inherit;
        font-size: 100px;
        line-height: 110px;
        transform: translateX(96px);
    }
    
    .advantages .title span {
        display: block;
        transform: translateX(-96px);
    }
    
    .advantages .subTitle {
        position: absolute;
        top: 36px;
        right: -400px;
        font-weight: 400;
    }
    @media (max-width: 1250px) {
        .advantages .subTitle {
            top: 143px;
            right: -100px;
        }
    }
}

.advantages ul {
    display: flex;
    max-width: 380px;
    margin: 0 auto;
    align-items: flex-end;
    flex-direction: column;
    gap: 195px;
}

.advantages ul li {
    position: relative;
    max-width: 283px;
    width: 100%;
}

@media (max-width: 380px) {
    .advantages li::before {
        left: -30px!important;
    }
}

.advantages li:nth-child(1):before {
    content: "";
    position: absolute;
    display: block;
    left: -50px;
    top: -200px;
    z-index: -1;
    background-image: url("../images/advantagesBox.png");
    background-position: center;
    background-size: inherit;
    width: 100%;
    height: 100%;
}

.advantages li:nth-child(2):before {
    content: "";
    position: absolute;
    display: block;
    left: -130px;
    top: -205px;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url("../images/advantagesComp.png");
    background-position: left;
    background-size: inherit;
    width: 100vw;
    height: 100%;
}

.advantages li:nth-child(3):before {
    content: "";
    position: absolute;
    display: block;
    left: -116px;
    top: -228px;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url("../images/advantagesCar.png");
    background-position: left;
    background-size: inherit;
    width: 100vw;
    height: 100%;
}

.advantages ul p {
    display: inline-block;
    border: 1px solid #5C42FF;
    border-radius: 150px;
    font-weight: 400;
    font-size: 8px;
    line-height: 25px;
    padding: 5px 20px;
    background: #4324FF;
    margin-bottom: 30px;
}

.advantages ul h3 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 21px;
}

.advantages ul .secondText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.advantages ul .number {
    left: -94px;
    top: 60px;
    position: absolute;
    display: inline-block;
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 204px;
    line-height: 204px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.advantages ul li:nth-child(2) h3 span br:nth-child(2),
.advantages ul li:nth-child(3) h3 br:nth-child(3),
.advantages ul li:nth-child(3) .secondText br:nth-child(even) {
    display: none;
}

.advantages ul li:nth-child(3) .secondText br:nth-child(odd) {
    display: block;
}

@media (max-width: 390px) {
    .advantages ul .number {
        left: -4px;
        top: -5px;
        font-size: 60px;
        line-height: normal;
    }

    .advantages ul p {
        margin-left: 35px;
    }
}

@media (min-width: 600px) {

    .advantages {
        min-width: 1100px;
        margin-bottom: 150px;
    }
    
    .advantages ul {
        max-width: inherit;
        align-items: flex-end;
        gap: 100px;
    }
    
    .advantages ul li {
        max-width: inherit;
        width: auto;
    }

    .advantages ul p {
        font-size: 18px;
        line-height: 25px;
        padding: 23px 40px;
    }
    
    .advantages ul h3 {
        font-size: 50px;
        line-height: 54px;
        margin-bottom: 35px;
    }

    .advantages ul li:nth-child(2) h3 span br:nth-child(1),
    .advantages ul li:nth-child(1) h3 span br:nth-child(1),
    .advantages ul li:nth-child(2) h3 span br:nth-child(3),
    .advantages ul li:nth-child(3) h3 br:nth-child(2),
    .advantages ul li:nth-child(3) h3 span br:nth-child(1),
    .advantages ul li:nth-child(3) .secondText br:nth-child(odd) {
        display: none;
    }

    .advantages ul li:nth-child(2) h3 span br:nth-child(2),
    .advantages ul li:nth-child(3) h3 br:nth-child(3),
    .advantages ul li:nth-child(3) .secondText br:nth-child(even) {
        display: block;
    }

    .advantages ul .number {
        top: 96px;
    }

    .advantages ul .secondText {
        font-size: 18px;
        line-height: 25px;
        margin-left: 100px;
        display: inline-block;
    }

    .advantages li:nth-child(odd) {
        align-self: start;
        margin-left: 100px;
    }

    .advantages li:nth-child(1):before {
        left: 600px;
        top: 0;
        background-image: url("../images/advantagesBoxDesk.png");
    }

    .advantages li:nth-child(2):before {
        left: -750px;
        top: 0;
        background-image: url("../images/advantagesCompDesk.png");
    }

    .advantages li:nth-child(3):before {
        left: 50px;
        top: -40px;
        background-image: url("../images/advantagesCarDesk.png");
    }
}

/* ====================================forWhom====================================== */

.forWhom {
    margin-bottom: 60px;
}

.forWhom .titleWrap {
    display: block;
    align-items: center;
    margin-bottom: 28px;
}

.forWhom .title {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
}

@media (max-width: 599px) {
    .subTitle {
        display: none;
    }
}

.forWhom ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.forWhom li {
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    min-height: 175px;
    padding: 30px 26px 35px 26px;
}

.forWhom ul .name {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    padding-right: 95px;
    margin-bottom: 21px;
    color: #141414; 
}

.forWhom ul .text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 285px;
    color: #141414;
}

.forWhom ul .stars {
    position: absolute;
    right: 26px;
    top: 35px;
}

@media (min-width: 600px) {

    .forWhom {
        margin-bottom: 150px;
    }

    .forWhom .titleWrap {
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: 40px;
    }

    .forWhom .title {
        font-size: 100px;
        line-height: 110px;
        text-align: left;
    }

    .forWhom .title span {
        margin-left: 90px;
    }

    .forWhom .subTitle {
        position: absolute;
        right: 0;
        top: 40px;
    }

    .forWhom ul {
        gap: 30px;
        flex-wrap: wrap;
        flex-direction: row
    }
    .forWhom li {
        min-height: 260px;
        padding: 60px 45px;
        width: calc(50% - 15px);
    }

    .forWhom ul .name {
        font-size: 50px;
        line-height: 54px;
        padding-right: 120px;
        margin-bottom: 15px;
    }

    .forWhom ul .text {
        font-size: 18px;
        line-height: 25px;
        max-width: 380px;
    }

    .forWhom ul .stars {
        position: absolute;
        right: 45px;
        top: 60px;
        width: 100px;
        height: 20px;
    }
}

/* ==============================RESULTS============================== */

.results {
    padding-bottom: 60px;
    background-image: url("../images/resultsBgMob.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.results .titleWrap {
    margin-bottom: 28px;
}

.results .title {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
}

.results ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.results li {
    position: relative;
    padding-left: 84px;
}

.results ul .number {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #4324FF;
    border: 1px solid #5C42FF;
    border-radius: 50%;
    width: 54px;
    height: 54px;
}

.results li:nth-child(1) .number {
    padding-right: 2px;
}

.results ul h3 {
    font-size: 28px;
    line-height: 32px;
    max-width: 253px;
    margin-bottom: 11px;
}

.results ul p {
    font-size: 14px;
    line-height: 20px;
    max-width: 253px;
}

@media (min-width: 600px) {
    .results {
        padding-bottom: 150px;
        background-image: url("../images/resultsBg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .results .titleWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
    }

    .results .title {
        font-size: 100px;
        line-height: 110px;
        margin-right: 30px;
    }

    .results .subTitle {
        position: inherit;
        display: block;
        margin-bottom: 15px;
    }

    .results ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
    }

    .results li {
        width: calc(50% - 50px);
        min-width: 450px;
        padding-left: 100px;
    }

    .results li:nth-child(1) {
        margin: 0 25%;
    }

    .results ul .number {
        width: 70px;
        height: 70px;
        font-size: 50px;
        line-height: 78px;
    }

    .results ul h3 {
        min-width: fit-content;
        max-width: 344px!important;
        font-size: 50px;
        line-height: 54px;
    }

    .results ul p {
        font-size: 18px;
        line-height: 25px;
        max-width: calc(100% - 50px);
    }
}

/* ==============================PROGRAM============================== */

.program {
    padding-bottom: 60px;
}

.program .titleWrap {
    margin-bottom: 18px;
}

.program .title {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
}

.program .list {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.program .options {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 9px;
    top: -12px;
    width: 297px;
    right: 50%;
    transform: translateX(-50%);
    left: 50%;
    font-family: 'Montserrat';
    font-size: 8px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    z-index: 1;
}

.program .options svg {
    position: absolute;
    right: -5px;
    top: 4px;
}

@media (max-width: 360px) {
    .program .options {
        left: 0;
        right: 0;
        transform: translateX(0);
        width: auto;
    }
}

.program .options div {
    background: rgba(217, 217, 217, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(7.5px);
    width: 93px;
    height: 26px;
    color: #ffff;
    border-radius: 150px;
}

.program .list > li {
    position: relative;
    background: #0C0C0C;
    border: 1px solid #4E4E4E;
    border-radius: 10px;
    cursor: pointer;
}

.program .list > li:nth-last-child(1) .moduleWrap,
.program .list > li:nth-last-child(2) .moduleWrap {
    background: #7C2CFF!important;
}

.program .list > li:nth-last-child(1) .options path,
.program .list > li:nth-last-child(2) .options path {
    fill: #FFFFFF!important;
}

.program .list > li:hover .moduleWrap{
    transition: 0.5s;
    background: #4324FF;
}

.program .list > .active .moduleWrap {
    transition: 0.5s;
    background: #4324FF;
}

.program .programDropdown {
    max-height: 0px;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.5s;
}

.program .programDropdown > * {
    padding: 0 27px 0 27px;
    margin: 25px 0;
}

.program .dropdownFirstList {
    margin-top: 40px;
}

.program .list > .active .programDropdown {
    max-height: 1000px;
}

.program .moduleWrap {
    /* background: #4324FF; */
    border-radius: 7px;
    padding: 40px 27px;
    width: calc(100% + 2px);
    transform: translate(-1px, -1px);
}

.program ol {
    padding: 0;
    font-family: var(--content-font);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.program ol li {
    margin: 20px 0 0 20px;
}

.programDropdown h3 {
    font-size: 28px;
    height: 25px;
}

.program .module {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    color: #141414;
    background: #FFFFFF;
    border-radius: 150px;
    padding: 12px 30px;
    display: inline-block;
    margin-bottom: 20px;
}

.program .listTitle {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 11px;
    max-width: 240px;
}

.program .btn {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
}

@media (min-width: 600px) {
    .program {
        padding-bottom: 150px;
    }

    .program .titleWrap {
        margin-bottom: 39px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 30px;
    }

    .program .title {
        font-size: 100px;
        line-height: 110px;
        text-align: left;
    }

    .program .list > li {
        border-radius: 20px;
    }

    .program .subTitle {
        margin-bottom: 20px;
    }

    .program .programDropdown {
        display: flex;
    }

    .program .moduleWrap {
        position: relative;
        padding: 40px 100px;
        border-radius: 20px;
    }

    .program .module {
        font-size: 18px;
        padding: 23px 59px;
        margin-bottom: 50px;
        line-height: 25px;
    }
    
    .program .options {
        width: 400px;
        gap: 22px;
        right: 100px;
        transform: translate(0, 0);
        left: inherit;
        top: 41px;
    }

    .program .options div {
        font-size: 10px;
        position: relative;
        width: 113.49px;
        background: transparent;
        backdrop-filter: none;
        height: 39.59px;
        line-height: 38px;
    }

    .program .options svg {
        width: 17px;
        height: 17px;
        top: 10px;
        right: -7px;
    }

    .program .list > .active .options > div:last-child svg path,
    .program .list > li:hover .options > div:last-child svg path {
        fill: #24FF3A;
    }

    .program .btn {
        position: absolute;
        right: 100px;
        bottom: 50px;
        font-size: 18px;
        line-height: 25px;
    }

    .program .listTitle {
        margin-bottom: 0;
        font-size: 50px;
        line-height: 54px;
        max-width: 430px;
    }

    .program ol {
        font-size: 18px;
        max-width: 390px;
        line-height: 25px;
    }

    .program ol li:first-child {
        margin-top: 0;
    }

    .program .programDropdown > * {
        margin: 50px 70px;
    }

    .programDropdown h3 {
        margin-bottom: 20px;
        font-size: 50px;
        height: 45px;
        margin-top: -10px;
    }
}

/* ==============================PROCESS============================== */

.process {
    margin-bottom: 60px;
}

.process .title {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
}

.process ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
}

.process li {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 23px;
    max-width: 337px;
    padding-right: 37px;
}

.process ul img {
    margin-right: 20px;
}

.process .imgWrap {
    height: 280px;
    background-image: url("../images/mobileProcessImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media (min-width: 490px) {
    .process .imgWrap{
        background-size: contain;
    }
}

.process .infoWrap {
    font-size: 8px;
    line-height: 11px;
    width: 160px;
    display: flex;
    gap: 10px;
    align-items: start;
}

@media (min-width: 600px) {
    .process {
        margin-bottom: 135px;
    }

    .process .container {
        display: flex;
        overflow: hidden;
    }

    .process .title {
        font-size: 100px;
        line-height: 110px;
        margin-bottom: 22px;
        text-align: center;
        width: fit-content;
    }

    .process ul {
        margin: 0 0 0 45px;
    }

    .process li {
        font-size: 18px;
        line-height: 25px;
        max-width: 500px;
    }

    .process .imgWrap {
        width: calc(100% - 500px);
        background-size: 1150px;
        background-position: -300px -156px;
        margin-right: -45px;
        justify-content: flex-start;
        height: auto;
        background-image: url("../images/deskProcessImg.png");
    }

    .process .infoWrap {
        margin-left: 80px;
        font-size: 15px;
        line-height: 20px;
        width: 300px;
    }

    .process .infoWrap img {
        width: 25px;
        margin-top: 3px;
    }
}