:root {
    --title-font: 'Bebas Neue';
    --content-font: 'Montserrat';
    --main-text-color: #FFFFFF;
    --second-text-color: #4324FF;
    --index: calc(1vw + 1vh);
}

h1, h2, h3 {
    font-family: var(--title-font);
    font-weight: 700;
    color: var(--main-text-color);
}

h1 *, h2 *, h3 * {
    font-family: var(--title-font)!important;
    font-weight: 700!important;
    color: var(--second-text-color)!important;
}

p, span, button {
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--main-text-color);
}

body {
    background: #0C0C0C;
    padding: 45px 0;
}

.container {
    max-width: 1285px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .container {
        min-width: 1100px;
    }
}

.mainButton {
    background: linear-gradient(258.35deg, #4324FF 42.6%, #2A179F 101.59%);
    box-shadow: 0px 1px 0px #5D42FF, 0px 4px 0px #351EC6;
    border-radius: 10px;
    padding: 38px 48px 30px 48px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.mainButton:hover {
    background: linear-gradient(258.35deg, #2b11d6 42.6%, #1c08a0 101.59%);
}

/* ==============================HERO============================== */
.hero {
    background-image: url("/images/heroBg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 187px;
    z-index: 1;
    min-width: 1100px;
}

.hero .blueEllipse {
    position: absolute;
    top: 439px;
    left: calc(50% - 200px + 1vw * 12);
    width: 356px;
    background: #4324FF;
    filter: blur(175px);
    z-index: -1;
}

.hero .expert {
    background: linear-gradient(88.93deg, rgba(74, 73, 73, 0.3) 12.64%, rgba(162, 157, 157, 0.3) 100.85%);
    border: 2px solid #363636;
    padding: 45px 32px 35px 32px;
    border-radius: 15px;
    position: absolute;
    top: 326px;
    left: calc(50% + 170px + 1vw * 12);
    backdrop-filter: blur(22.5px);
    min-width: 250px;
    z-index: 1;
}

.hero .starIcon {
    position: absolute;
    top: -20px;
    left: 30px;
}

.hero .expert h3 {
    font-weight: 400;
    font-size: 37px;
    line-height: 24px;
    margin-bottom: 15px;
}

.hero .expert p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.hero .person {
    position: absolute;
    top: -60px;
    left: calc(50% - 550px + 1vw * 12);
    z-index: 1;
}

.hero .cart {
    position: absolute;
    top: 350px;
    left: calc(50% - 900px + 1vw * 12);
    z-index: 1;
}

.hero .logoWrap {
    margin-bottom: 133px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.hero .logoWrap h3 {
    font-size: 40px;
    line-height: 40px;
}

.hero .logoWrap span {
    display: none;
}

.hero .title {
    font-size: 130px;
    line-height: 120px;
    margin-bottom: 23px;
}

.hero .content {
    display: flex;
    align-items: baseline;
    gap: 32px;
    margin-bottom: 77px;
    position: relative;
    z-index: 2;
}

.hero .arrowIcon {
    height: fit-content;
}

.hero .content p {
    font-size: 20px;
    line-height: 30px;
    width: 430px;
}

.hero .content p span {
    font-weight: 600;
}

.hero .signUpWrap {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.hero .scrollIcon {
    margin-right: 66px;
}

.hero .mainButton {
    margin-right: 21px;
}

.hero .forNewbee {
    width: 231px;
    background: linear-gradient(258.48deg, #2C2C2C 42.68%, #272727 101.78%);
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.055em;
    padding: 29px 40px 25px 40px;
}

/* =========================HERO MEDIA========================= */
@media (max-width: 1100px) {
    .hero .person {
        left: calc(50% - 340px);
        width: 85%;
        top: 40px;
    }
    
    .hero .cart {
        left: calc(50% - 800px);
        width: auto;
    }

    .hero .expert {
        left: auto;
        right: 40px; 
    }
}

@media (max-width: 600px) {
    body {
        padding: 25px 0;
    }
    .container {
        max-width: 600px;
        padding: 0 25px;
    }

    .hero {
        min-width: 0;
        overflow: auto;
        background-size: 140%;
        background-position: left top;
        background-repeat: no-repeat;
        padding-bottom: 60px;
    }

    .hero .person {
        display: none;
    }
    
    .hero .mobilePerson {
        background-image: url("/images/person.png");
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: 60% calc(1vw * 2 - 20px);
        position: absolute;
        width: calc(100% - 50px);
        height: 750px;
        top: 0;
        z-index: 1;
    }

    .hero .expert {
        top: 15%;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        width: calc(100% - 50px);
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }

    .hero .expert h3 {
        font-weight: 400;
        width: 70px;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .hero .expert p {
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
    }

    .hero .starIcon {
        width: 21px;
        top: -12px;
        left: 18px;
    }

    .hero .cart {
        display: none;
    }

    .hero .scrollIcon {
        display: none;
    }

    .hero .mainButton {
        margin-right: 0;
        padding: 29px 36px 26px 36px;
        font-size: 12px;
        z-index: 1;
    }

    .hero .forNewbee br {
        display: none;
    }

    .hero .forNewbee {
        transform: translateY(-3px);
        width: 170px;
        font-size: 8px;
        padding: 20px 16px 15px 16px;
        text-align: center;
        line-height: 18px;
    }

    .hero .signUpWrap {
        flex-direction: column;
    }

    .hero .blueEllipse {
        width: 166px;
        background: #4324FF;
        filter: blur(175px);
        top: 20%;
        right: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero .logoWrap {
        gap: 15%;
        margin-bottom: 70%;
    }

    .hero .logoWrap h3 {
        font-size: 20px;
        line-height: inherit;
        white-space: nowrap;
    }

    .hero .logoWrap span {
        font-family: 'Montserrat'!important;
        color: #5B5B5B!important;
        display: block;
        font-weight: 500!important;
        font-size: 8px;
        line-height: 10px;
    }

    .hero .logo {
        width: 99.67px;
        height: 37px;
    }
    .hero .title {
        font-size: calc(1vw * 13);
        line-height: calc(1vw * 13);
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .hero .content {
        margin-bottom: 30px;
    }

    .hero .content p {
        font-weight: 400;
        font-size: calc(1vw * 4);
        line-height: calc(1vw * 6);
        text-align: center;
        width: 100%;
    }

    .hero .arrowIcon {
        display: none;
    }
}

@media (max-width: 365px) {
    .hero .logoWrap {
        gap: 10%;
    }
    .hero .logoWrap h3 {
        font-size: 15px;
    }
    .hero .mobilePerson {
        background-size: 120%;
        background-position: 76% calc(1vw * 2 + 20px);
    }
}

/* ==============================ADVANTAGES============================== */

.titleWrap {
    margin-bottom: 183px;
}

.advantages .title {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    overflow: hidden;
}

.advantages .subTitle {
    display: none;
}

@media (min-width: 600px) {    
    .titleWrap {
        display: inline-block;
        position: relative;
        margin-bottom: 70px;
    }
    
    .advantages .title {
        text-align: inherit;
        font-size: 100px;
        line-height: 110px;
        transform: translateX(96px);
    }
    
    .advantages .title span {
        display: block;
        transform: translateX(-96px);
    }
    
    .advantages .subTitle {
        display: inline;
        position: absolute;
        top: 36px;
        right: -400px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #7C7C7C;
    }
    @media (max-width: 1250px) {
        .advantages .subTitle {
            top: 143px;
            right: -100px;
        }
    }
}

.advantages ul {
    display: flex;
    max-width: 380px;
    margin: 0 auto;
    align-items: flex-end;
    flex-direction: column;
    gap: 195px;
}

.advantages ul li {
    position: relative;
    max-width: 283px;
    width: 100%;
}

@media (max-width: 380px) {
    .advantages li::before {
        left: -30px!important;
    }
}

.advantages li:nth-child(1):before {
    content: "";
    position: absolute;
    display: block;
    left: -50px;
    top: -200px;
    z-index: -1;
    background-image: url("/images/advantagesBox.png");
    background-position: center;
    background-size: inherit;
    width: 100%;
    height: 100%;
}

.advantages li:nth-child(2):before {
    content: "";
    position: absolute;
    display: block;
    left: -130px;
    top: -205px;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url("/images/advantagesComp.png");
    background-position: left;
    background-size: inherit;
    width: 100vw;
    height: 100%;
}

.advantages li:nth-child(3):before {
    content: "";
    position: absolute;
    display: block;
    left: -116px;
    top: -228px;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url("/images/advantagesCar.png");
    background-position: left;
    background-size: inherit;
    width: 100vw;
    height: 100%;
}

.advantages ul p {
    display: inline-block;
    border: 1px solid #5C42FF;
    border-radius: 150px;
    font-weight: 400;
    font-size: 8px;
    line-height: 25px;
    padding: 5px 20px;
    background: #4324FF;
    margin-bottom: 30px;
}

.advantages ul h3 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 21px;
}

.advantages ul .secondText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.advantages ul .number {
    left: -94px;
    top: 60px;
    position: absolute;
    display: inline-block;
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 204px;
    line-height: 204px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media (max-width: 390px) {
    .advantages ul .number {
        left: -4px;
        top: -5px;
        font-size: 60px;
        line-height: normal;
    }

    .advantages ul p {
        margin-left: 35px;
    }
}

@media (min-width: 600px) {
    .advantages ul {
        max-width: inherit;
        align-items: flex-end;
        gap: 100px;
    }
    
    .advantages ul li {
        position: relative;
        max-width: inherit;
        width: 100%;
    }
}

